<a href="https://colab.research.google.com/github/Srinidhi16/Forage-Projects/blob/master/Commonwealth_Bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 2

In [1]:
import pandas as pd
df = pd.read_excel('/content/mobile_customers.xlsx')

In [2]:
df.head()

,Unnamed: 0,customer_id,date_registered,username,name,gender,address,email,birthdate,current_location,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_security_code,credit_card_expire
0,0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,Jonathan Snyder,M,"24675 Susan Valley\nNorth Dianabury, MO 02475",marcus58@hotmail.com,1978-03-11,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,38985874269846,994,2023-10-27 00:00:00
1,1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,Susan Dominguez,F,"4212 Cheryl Inlet\nPort Davidmouth, NC 54884",alexanderkathy@hotmail.com,1970-11-29,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,6525743622515979,163,2023-07-30 00:00:00
2,2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,Corey Hebert,M,"07388 Coleman Prairie\nLake Amy, IA 78695",vwood@gmail.com,2009-04-23,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,4010729915028682247,634,2023-04-26 00:00:00
3,3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,Latasha Griffin,F,"PSC 6217, Box 2610\nAPO AA 53585",kathleen36@gmail.com,1992-07-27,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,4854862659569207844,7957,2023-10-31 00:00:00
4,4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,Colleen Wheeler,F,"0325 Potter Roads\nLake Lisashire, NM 77502",johnbest@hotmail.com,1989-09-16,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,213152724828217,72,2023-05-28 00:00:00

**Required columns for analysis:**

customer_id, date_registered, gender, email, employer, age bucket and salary range, credit card masked no., expiry

In [3]:
#Removing names
df = df.drop(columns = ['name'])

In [4]:
#Removing address
df = df.drop(columns = ['address'])

In [5]:
#Removing bithdate and unnamed
df = df.drop(columns = ['birthdate','Unnamed: 0'])

In [6]:
# Creating a function to mask credit card no.
import re

def mask_credit(num):    ###ph can be string / Nan
  if pd.isna(num):        #If value is missing
    return num
  digits = re.sub(r'\D', "",str(num))    #str : converts the value to a string \D ;→ regex pattern meaning “anything that is NOT a digit”
  masked = '*' * (len(digits)-4) + digits[-4:]
  return masked

In [7]:
#Apply mask_credit function to credit card column
df['credit_card_number'] = df['credit_card_number'].apply(mask_credit)

In [8]:
df.head()

,customer_id,date_registered,username,gender,email,current_location,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_security_code,credit_card_expire
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,marcus58@hotmail.com,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,**********9846,994,2023-10-27 00:00:00
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,alexanderkathy@hotmail.com,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,************5979,163,2023-07-30 00:00:00
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,vwood@gmail.com,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,***************2247,634,2023-04-26 00:00:00
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,kathleen36@gmail.com,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,***************7844,7957,2023-10-31 00:00:00
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,johnbest@hotmail.com,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,***********8217,72,2023-05-28 00:00:00

In [9]:
#Removing credit card security code and credit card provider as that isn't required
df = df.drop(columns = ['credit_card_security_code'])

In [10]:
#removing current location lat & long
df = df.drop(columns = ['current_location'])

In [15]:
#From residence columns extract state and pin-code
df['pincode'] = df['residence'].str[-5:]  #.str applies string slicing element-wise to the column

In [17]:
df['state'] = df['residence'].str[-8:-6]

In [18]:
df.head()

,customer_id,date_registered,username,gender,email,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_expire,pincode,state
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,marcus58@hotmail.com,"195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,**********9846,2023-10-27 00:00:00,63410,NE
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,alexanderkathy@hotmail.com,"58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,************5979,2023-07-30 00:00:00,04693,HI
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,vwood@gmail.com,"36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,***************2247,2023-04-26 00:00:00,26822,ID
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,kathleen36@gmail.com,"317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,***************7844,2023-10-31 00:00:00,79074,DC
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,johnbest@hotmail.com,"21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,***********8217,2023-05-28 00:00:00,37124,TN

In [19]:
#Drop column residence
df = df.drop(columns = ['residence'])

In [20]:
#Func to mask email

def mask_mail(email):
  if pd.isna(email):
    return email
  mail = str(email)

  #split user and domain
  user, domain = mail.split('@')
  #split domain name and extension
  domain_name, domain_ext = domain.split('.', 1)

  masked_user = user[0] + '*' * (len(user)-1)
  masked_domain = domain[0] + '*' * (len(domain)-1)

  return f"{masked_user}@{masked_domain}.{domain_ext}"

In [21]:
df['email'] = df['email'].apply(mask_mail)

In [22]:
df.head()

,customer_id,date_registered,username,gender,email,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_expire,pincode,state
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,m*******@h**********.com,"Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,**********9846,2023-10-27 00:00:00,63410,NE
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,a*************@h**********.com,Hurst PLC,Data scientist,43,81510,Discover,************5979,2023-07-30 00:00:00,04693,HI
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,v****@g********.com,"Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,***************2247,2023-04-26 00:00:00,26822,ID
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,k*********@g********.com,Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,***************7844,2023-10-31 00:00:00,79074,DC
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,j*******@h**********.com,Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,***********8217,2023-05-28 00:00:00,37124,TN

In [23]:
def age_range(age,step=5):
  if pd.isna(age):
    return age
  age = int(age)
  lower = (age // step) * step + 1
  upper = lower + step - 1

  return f"{lower}-{upper}"

In [24]:
df['age_range'] = df['age'].apply(age_range)

In [25]:
df.head()

,customer_id,date_registered,username,gender,email,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_expire,pincode,state,age_range
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,m*******@h**********.com,"Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,**********9846,2023-10-27 00:00:00,63410,NE,46-50
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,a*************@h**********.com,Hurst PLC,Data scientist,43,81510,Discover,************5979,2023-07-30 00:00:00,04693,HI,41-45
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,v****@g********.com,"Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,***************2247,2023-04-26 00:00:00,26822,ID,46-50
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,k*********@g********.com,Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,***************7844,2023-10-31 00:00:00,79074,DC,31-35
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,j*******@h**********.com,Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,***********8217,2023-05-28 00:00:00,37124,TN,56-60

In [26]:
#Remove age column after deriving age_range
df = df.drop(columns = ['age'])